.link-to-home:hover {
  color: #17ae8e !important;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (min-width: 820px) {
  .cards-container{
      display: grid;
      justify-content: center;
      row-gap: 18px;
      column-gap: 18px;
      grid-template-columns: repeat(3,260px);
  }

  .form-control {
    max-width: 28vw;
    margin-right: 5px;
  }
}
