.spinner-container{
  position: fixed;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px
}

.link-to-home:hover {
  color: #17ae8e !important;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (min-width: 820px) {

  .form-control {
    max-width: 28vw;
    margin-right: 5px;
  }
}
